<div class="container d-flex justify-content-center pt-3">
  <div class="card shadow w-50 p-4">
    <h1 class="text-center">Create Movie</h1>
    <%= render partial: 'movies/shared/form', locals: { movie: @movie } %>
  </div>
</div>