<% reviews.each do |review| %>
  <hr class="mt-5">
  <div>
    <p class="fw-semibold mb-0"><%= review.user.username %></p>
    <p><%= review.rating %>/5</p>
    <p><%= review.content %></p>
  </div>
  <hr>
<% end %>